{% extends "movietrailer/headeraside.html" %}
 {% block content %}

            <main>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
                        <h1>A-Z</h1>               
                        <div class="row">   
                            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                                     
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Movie Title</th>
                                    <th>movie.year</th>
                                    <th>movie.genre</th>
                                    <th>movie.title</th>
                                    <th>movie.synopsis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>movie.title</td>
                                    <td>movie.year</td>
                                    <td>movie.genre</td>
                                    <td>movie.title</td>
                                    <td>movie.synopsis</td>
                                </tr>
                            </tbody>
                        </table>    
                             </div>
                        </div>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">a</a></li>
                            <li><a href="#">b</a></li>
                            <li><a href="#">c</a></li>
                            <li><a href="#">d</a></li>
                            <li><a href="#">e</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
            </main>

        
  {% endblock %}