{% extends "movietrailer/headeraside.html" %}
 {% block content %}
            <main>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
                    <h1>New arrivals</h1>
                    <div id="carousel-id" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                            <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
                            <li data-target="#carousel-id" data-slide-to="3" class=""></li>
                            <li data-target="#carousel-id" data-slide-to="4" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item">
                                <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="http://placehold.it/350x350">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Example headline.</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide" src="http://placehold.it/350x350">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Another example headline.</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Third slide" alt="Third slide" src="http://placehold.it/350x350">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Another example headline.</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Fourth slide" alt="Fourth slide" src="http://placehold.it/350x350">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Another example headline.</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="item active">
                                <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Fifth slide" alt="Fifth slide" src="http://placehold.it/350x350">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>One more for good measure.</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                    <h2>Our Movie Collection</h2>
                    <p>View All ></p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                            <h3>Top 10</h3>

                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                            <h3>A-Z</h3>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                            <h3>Genre</h3>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                            <h3>Year</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="height: 350px; width:273px;"><h2>My favorite Collection</h2></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                        </div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                        </div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div style="height: 350px; width:273px; background-color: red"><h2>Latest from our Collection</h2></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                        </div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                        </div>
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="http://placehold.it/350x350" alt="..." class="img-thumbnail">
                        </div>
                    </div>
                </div>
            </main>

  {% endblock %}
