{% extends "movietrailer/headeraside.html" %}
 {% block content %}
            <main>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
                            <h1 class="text-center">movie.title</h1>
                            <!-- movie.cover -->
                            <iframe width="100%" height="360px" src="https://www.youtube.com/embed/ZZv1vki4ou4">
                            </iframe>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <div>
                                <p class="text-left pull-left">movie.year</p>
                                <p class="text-right pull-right">movie.genre</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <p>movie.storyline Woke edison bulb leggings bitters. Roof party copper mug cold-pressed, pug marfa
                                kombucha distillery art party disrupt. Gentrify hexagon flannel disrupt pork belly tumblr.
                                Flexitarian wolf edison bulb knausgaard single-origin coffee. Pok pok cornhole jianbing,
                                sustainable la croix kickstarter 8-bit twee man bun post-ironic shoreditch. Lyft DIY fixie,
                                glossier bespoke pok pok bushwick prism swag PBR&B kickstarter taxidermy. Pop-up actually
                                microdosing, pok pok kickstarter etsy pug truffaut tbh. Green juice fixie chillwave mustache,
                                fingerstache salvia next level vice shabby chic fam. Master cleanse occupy meditation hot
                                chicken. Aesthetic direct trade food truck asymmetrical, DIY try-hard post-ironic jianbing
                                tumblr vinyl squid. Vaporware crucifix polaroid, keytar letterpress mustache aesthetic poke
                                man bun PBR&B flannel man braid microdosing. Tote bag kale chips iPhone, echo park heirloom
                                you probably haven't heard of them raw denim health goth celiac hot chicken bicycle rights
                                live-edge vice four dollar toast. Leggings blog freegan, chicharrones quinoa unicorn semiotics
                                90's. Hell of authentic forage, blue bottle before they sold out flexitarian locavore.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <div>
                                <p class="text-left pull-left">Reviews</p>
                                <p class="text-right pull-right" data-toggle="modal" data-target="#myModal">Add reviews</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                Review One {Review.title}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            {Review.body} Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                                            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                            VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                                aria-controls="collapseThree">
                                    Review One {Review.title}
                                    </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            {Review.body} Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                                            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                                            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                            synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                            VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                            <div class="row">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <button>Like</button>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <button>Owned</button>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <button>Rate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Review</h4>
                    </div>
                    <div class="modal-body">
                        Add form later 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
  {% endblock %}