{% extends "movietrailer/headeraside.html" %} {% block content %}
{% load static %}
<main>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2 class="text-center">Genres</h2>
            </div>
            {% for r in row %}
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <a href="#"><img src="{% static r.3 %}" alt="..." class="img-thumbnail"></a>
                <h3 class="text-center">{{r.2}}</h3>
            </div>
            {% endfor %}
            
        </div>




    </div>
</main>
{% endblock %}