<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Trailer</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="...">
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
      </button>
            </div>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Log Out</a> {% else %}
                    <a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Login/SignUp</a> {% endif %}
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </nav>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container-fluid">
        <div class="row">
            <aside>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <h3>Highest Rating</h3>
                        {% if latest_movies %}
                        <ol>
                            {% for movie in latest_movies %}
                            <li>{{ movie.title}}</li>
                            {% endfor %}
                        </ol>
                        {% else %}
                        <p>no ratings</p>
                        {% endif %}

                        <h3>Most Watched</h3>
                        {% if most_owned %}
                        <ol>
                            {% for movie in most_owned %}
                            <li>{{ movie.title}}</li>
                            {% endfor %}
                        </ol>
                        {% else %}
                        <p>no ratings</p>
                        {% endif %}

                        <h3>Most Liked</h3>
                        {% if most_liked %}
                        <ol>
                            {% for movie in most_liked %}
                            <li>{{ movie.title}}</li>
                            {% endfor %}
                        </ol>
                        {% else %}
                        <p>no ratings</p>
                        {% endif %}
                    </div>
                </div>
            </aside>

            {% block content %} {% endblock %}


            <div class="container">


                <footer>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>Facebook</p>
                            <p>Twitter</p>
                            <p>GooglePlus</p>
                            <p><span>world logo</span> English></p>
                            <p>Movie Trailer Copyright 2017 Made By UndreamtMayhem</p>
                        </div>
                    </div>
                </footer>
            </div>

            <div class="modal fade" id="modal-id">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Login: Register</h4>
                        </div>
                        <div class="modal-body">
                            {% if user.is_authenticated %}
                            <h2>{{user.username}}</h2>
                            <p>{{ "Thanks for spending some quality time with the Web site today."}}</p>
                            <p>Click this link if you would like to logout</p>
                            <p><a href="/logout ">{{ 'Log out' }}</a></p>
                            {% else %}
                            <form method="get" action="http://127.0.0.1:8000/register">
                            <h2>Click to register</h2>
                                <button type="submit" class="btn btn-default">register</button>
                            </form>
                            <br/>
                            <form id="login_form" method="post" action="http://127.0.0.1:8000/authenticate">
                                {% csrf_token %} Username: <input type="text" name="username" value="" size="50" />
                                <br /> Password: <input type="password" name="loginpassword" value="" size="50" />
                                <br />
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <script src="js/src/script.js"></script>

</body>

</html>