{% extends "movietrailer/headeraside.html" %}
 {% block content %}
            <main>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 class="text-center">Most Owned</h2>
                        </div>
                          {% if most_owned %}
                          {% for movie in most_owned %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <img src="{{ movie.cover }}" alt="..." class="img-thumbnail">
                            <h3 class="text-center">{{forloop.counter}} : {{ movie.title}}</h3>
                        </div>
                         {% endfor %}
                         {% else %}
                         <p>no ratings</p>
                          {% endif %}
                        
                    </div>
                </div>
            </main>
        </div>
  {% endblock %}