{% extends "movietrailer/headeraside.html" %}
 {% load static %}
 {% block content %}
            <main>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 class="text-center">Top 10</h2>
                        </div>
                        {% for topmovie in top10 %}
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <a href="../movie/{{topmovie.pk}}"><img src="{% static topmovie.cover %} " alt="..." class="img-thumbnail"></a>
                            <h3 class="text-center">#{{forloop.counter}}: {{ topmovie.title }}</h3>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
{% endblock %}