{% extends "movietrailer/headeraside.html" %}
 {% block content %}

            <main>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-7">
                    {% for y in year %}
                    {% if forloop.counter == 1 %}
                        <h1>Year: {{y.year}}</h1>                        
                    {% endif %}      
                    {% endfor %}
                        <div class="row">   
                            <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                                     
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Movie Title</th>
                                    <th>movie Year</th>
                                    <th>movie Genre</th>
                            
                                    <th>movie Storyline</th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% if year %}
                                 {% for y in year %}
                                <tr>
                                   
                                    <td>{{y.title}}</td>
                                    <td>{{y.year}}</td>
                                    <td>{{y.genres}}</td>
                        
                                    <td>{{y.storyline}}</td>
                                </tr>
                              
                                {% endfor %}
                                  {% else %}
                                <h2>No movies in this section yet</h2>
                                {% endif %}
                            </tbody>
                        </table>    
                             </div>
                        </div>
                        <p>this changes from javascript not implemented</p>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="a">a</a></li>
                            <li><a href="b">b</a></li>
                            <li><a href="c">c</a></li>
                            <li><a href="d">d</a></li>
                            <li><a href="e">e</a></li>
                            <li><a href="#">f-k</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
            </main>

        
  {% endblock %}