<!doctype html>
<html lang="en">

<head>
    <title>Item catalog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="../static/bulma-0.6.1/css/bulma.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <ul class="location">
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
            </ul>
        </nav>
        <nav class="hidden navbar navbar-details" role="navigation" aria-label="main navigation">
            <span class="business-title">TITLE</span>
            <address class="store-address">

                <span>674 Midway Road</span>
                <span>Van Buren USA</span>
                <span>AR 72956</span>
                <span>479 474 2928</span>
            </address>
        </nav>
        <nav class="tabs is-centered">
            <ul>
                <li><a>Latest</a></li>
                <li><a>Menu</a></li>
                <li class="is-active"><a>About</a></li>
                <li><a>Reservations</a></li>
                <li><a>Photos</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container ">
        <section class="about-section container">
            <h2>About</h2>
            <p class="about-section-location">London, Paris</p>
            <div class="columns">
                    <figure class="column">
                        <img class="about-img-container" src="http://via.placeholder.com/750x550" alt="kitty">
                        <!--<figcaption>Caption for above image</figcaption>-->
                    </figure>
                <div class="column about-text-column">
                   <p class="about-text">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia.
                   Repellendus laborum nostrum provident, expedita, maiores reprehenderit obcaecati tenetur beatae fugit. Cumque velit in animi natus, laboriosam, omnis non quis eveniet nostrum cupiditate temporibus harum eum, doloribus qui? Repellendus, obcaecati!
                   Incidunt omnis tenetur ipsa quos deserunt, facilis ipsam recusandae. Incidunt voluptatum optio enim aliquid. Quo, molestiae assumenda amet quisquam. Soluta eaque temporibus odit cumque, laborum distinctio mollitia, deserunt voluptatibus assumenda!
                   Sunt, non quos id nobis rem alias, consectetur doloremque repellat a nam fugiat quas doloribus dolorem consequuntur provident totam. Optio, aliquam! Architecto mollitia earum minima, ea eveniet quia. Illum, optio.
                </p>
                <a class="button is-primary about-button">Read more</a>
                </div>
            </div>
        </section>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>