<!doctype html>
<html lang="en">

<head>
    <title>Item catalog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="../static/bulma-0.6.1/css/bulma.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <ul class="location">
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
            </ul>
        </nav>
        <nav class="hidden navbar navbar-details" role="navigation" aria-label="main navigation">
            <span class="business-title">TITLE</span>
            <address class="store-address">

                <span>674 Midway Road</span>
                <span>Van Buren USA</span>
                <span>AR 72956</span>
                <span>479 474 2928</span>
            </address>
        </nav>
        <nav class="tabs is-centered">
            <ul>
                <li><a>Latest</a></li>
                <li><a>Menu</a></li>
                <li class="is-active"><a>About</a></li>
                <li><a>Reservations</a></li>
                <li><a>Photos</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container">
        <section class="menu-section container">
            <div class="menu-heading">
                <h4>Menus</h4>
                <h2>Current Selection</h2>
                <hr/>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non mollitia, enim dolore id accusantium optio
                    dicta ipsam illo unde soluta ab commodi ex, iste quam quo perspiciatis voluptatem animi provident.</p>
            </div>
            <ul>
                <li class="columns menu-columns">
                    <div class="column menu-text-column menu-column first">
                        <h3 class="menu-item-number">01</h3>
                        <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                        <p class="menu-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas
                            fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                        </p>
                        <ul class="menu-links">
                            <li><a class="menu-link" href="">View recipe</a></li>
                        </ul>
                    </div>
                    <figure class="column is-two-thirds menu-column">
                        <img class="" src="http://via.placeholder.com/750x550" alt="kitty">
                        <!--<figcaption>Caption for above image</figcaption>-->
                    </figure>
                </li>
                <li class="columns menu-columns">
                    <figure class="column menu-column second">
                        <img class="" src="http://via.placeholder.com/750x550" alt="kitty">
                        <!--<figcaption>Caption for above image</figcaption>-->
                    </figure>
                    <div class="column menu-column menu-text-column text-left is-two-thirds">
                        <h3 class="menu-item-number">01</h3>
                        <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                        <p class="menu-item-text text-left">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas
                            fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                        </p>
                        <ul class="menu-links">
                            <li><a class="menu-link" href="">View recipe</a></li>
                        </ul>
                    </div>
                </li>
                <li class="columns menu-columns">
                    <div class="column menu-column menu-text-column third">
                        <h3 class="menu-item-number">01</h3>
                        <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                        <p class="menu-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas
                            fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                        </p>
                        <ul class="menu-links">
                            <li><a class="menu-link" href="">View recipe</a></li>
                        </ul>
                    </div>
                    <figure class="column menu-column">
                        <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                        <!--<figcaption>Caption for above image</figcaption>-->
                    </figure>
                    <div class="column"></div>
                </li>
                <li class="columns menu-columns">
                    <div class="column menu-column menu-text-column fourth">
                        <h3 class="menu-item-number text-left">01</h3>
                        <h4 class="menu-ingriedents text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                        <p class="menu-item-text text-left">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas
                            fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                        </p>
                        <ul class="menu-links">
                            <li><a class="menu-link" href="">View recipe</a></li>
                        </ul>
                    </div>
                    <figure class="column menu-column">
                        <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                        <!--<figcaption>Caption for above image</figcaption>-->
                    </figure>
                </li>
                 <li class="columns menu-columns">
                    <figure class="column menu-column second">
                        <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                        <!--<figcaption>Caption for above image</figcaption>-->
                    </figure>
                    <div class="column menu-column menu-text-column text-left is-two-thirds">
                        <h3 class="menu-item-number">01</h3>
                        <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                        <p class="menu-item-text text-left">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas
                            fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                        </p>
                        <ul class="menu-links">
                            <li><a class="menu-link" href="">View recipe</a></li>
                        </ul>
                    </div>
                </li>
                <li class="columns menu-columns">
                    <div class="column menu-column menu-text-column third">
                        <h3 class="menu-item-number">01</h3>
                        <h4 class="menu-ingriedents">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                        <p class="menu-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas
                            fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                        </p>
                        <ul class="menu-links">
                            <li><a class="menu-link" href="">View recipe</a></li>
                        </ul>
                    </div>
                    <figure class="column menu-column">
                        <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                        <!--<figcaption>Caption for above image</figcaption>-->
                    </figure>
                    <div class="column"></div>
                </li>
                <li class="columns menu-columns">
                    <div class="column menu-column menu-text-column fourth">
                        <h3 class="menu-item-number text-left">01</h3>
                        <h4 class="menu-ingriedents text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis optio adipisci? </h4>
                        <p class="menu-item-text text-left">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus similique vitae minima perspiciatis, sint minus at voluptas
                            fuga. Nam enim, consequuntur id a culpa ab reprehenderit. Sequi, inventore accusamus quia. Repellendus
                        </p>
                        <ul class="menu-links">
                            <li><a class="menu-link" href="">View recipe</a></li>
                        </ul>
                    </div>
                    <figure class="column menu-column">
                        <img class="" src="http://via.placeholder.com/750x750" alt="kitty">
                        <!--<figcaption>Caption for above image</figcaption>-->
                    </figure>
                </li>
            </ul>



        </section>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>