<!doctype html>
<html lang="en">

<head>
    <title>Item catalog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="../static/bulma-0.6.1/css/bulma.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <ul class="location">
                <li><a href="#">London</a></li>
                <li><a href="#">Paris</a></li>
            </ul>
        </nav>
        <nav class="hidden navbar navbar-details" role="navigation" aria-label="main navigation">
            <span class="business-title">TITLE</span>
            <address class="store-address">

                <span>674 Midway Road</span>
                <span>Van Buren USA</span>
                <span>AR 72956</span>
                <span>479 474 2928</span>
            </address>
        </nav>
        <nav class="tabs is-centered">
            <ul>
                <li><a>Latest</a></li>
                <li><a>Menu</a></li>
                <li class="is-active"><a>About</a></li>
                <li><a>Reservations</a></li>
                <li><a>Photos</a></li>
            </ul>
        </nav>
    </header>
    <div class="main-container ">
        <section class="reservation-section container">
            <h2>Reservation</h2>
            <p class="about-section-location">479 474 2928 Restraunt</p>
            <div class="columns">
                <div class="column reseveration-text-column">

                    <form action="">
                        <div class="field">
                            <label class="label" for="name">Name</label>
                            <div class="control">
                                <input class="input" type="text" name="name" placeholder="e.g Alex Smith">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="email">Email</label>
                            <div class="control">
                                <input class="input" type="email" name="email" placeholder="e.g. alexsmith@gmail.com">
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="control is-expanded  field-label is-normal">
                                <label class="label" for="location">Location</label>
                                <div class="select">
                                    <select name="location">
                            <option>London</option>
                            <option>Paris</option>
                            </select>
                                </div>
                            </div>
                            <div class="field-label is-normal">
                                <label class="label" for="guests">Guest</label>
                                <div class="control">
                                    <input class="input" type="number" min="1" max="8" name="guests" placeholder="1">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label" for="info">Additional Infomation</label>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea" name="info"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="button is-primary about-button">Submit</a>
                    </form>
                </div>
                <figure class="column">
                    <img class="about-img-container" src="../static/img/map.png" alt="map location">
                    <!--<figcaption>Caption for above image</figcaption>-->
                </figure>
                
            </div>
        </section>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</body>

</html>